h1 {
    text-align: center;
    background-color: bisque;
    color: forestgreen;
    text-shadow: 2px;
}

img {
    width: 500px;
    height: auto;
}

p {
    color: black;
    font-family: "Times New Roman", sans-serif;
    background-color: beige;
}