body {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    background-color: #6cbbfc;
}

.header-item {
    padding: 10px;
}

.title {
    color:white;
    text-transform: uppercase;
}

li {
    margin: 10px auto;
}

ul, 
ol {
    padding: 10px;
    padding-left: 25px;
    background-color: beige;
    border: 5px dashed rosybrown;
    border-top-width: 5px;
    width: fit-content;
}

img {
    width: 500px;
    height: auto;
}

p {
    color: black;
    font-family: "Times New Roman", sans-serif;
    background-color: beige;
    text-indent: 50px;
    margin-right: 400px;
    margin-left: 50px;
}

.index-return {
    margin-right: 50px;
    margin-left: 100px;
    background-color: aquamarine;
}

button:hover {
    background-color: royalblue;
}

a:hover {
    color:blueviolet
}