h1 {
    text-align: center;
    background-color: bisque;
    color: forestgreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 5px;
}

img {
    width: 500px;
    height: auto;
}

p {
    color: black;
    font-family: "Times New Roman", sans-serif;
    background-color: beige;
    text-indent: 50px;
    margin-right: 400px;
    margin-left: 50px;
}

.index-return {
    margin-right: 50px;
    margin-left: 100px;
    background-color: aquamarine;
}

button:hover {
    background-color: royalblue;
}

a:hover {
    color:blueviolet
}